button {
  all: unset; }

html {
  font-family: 'Merriweather', serif; }

body {
  margin: 0;
  background-color: #f1f1f1; }

.large-card {
  width: 48rem;
  height: 48rem; }

.small-card {
  width: 27rem;
  height: 16rem; }

.medium-card {
  width: 27rem;
  height: 16rem; }

.fillable-btn {
  display: block;
  text-align: center;
  border: solid 2px black;
  min-width: 7rem;
  padding: 1rem;
  border: solid 0.2rem #E9204F;
  width: max-content;
  color: white;
  background: linear-gradient(to right, #E9204F 50%, #131313 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: all 0.5s cubic-bezier(0.17, 0.67, 0, 1.01); }
  .fillable-btn--transparent {
    background: linear-gradient(to right, #E9204F 50%, transparent 50%);
    background-size: 200% 100%;
    background-position: right bottom; }
  .fillable-btn--light {
    background: linear-gradient(to right, #E9204F 50%, #f1f1f1 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    color: black; }
  .fillable-btn:hover {
    background-position: left bottom;
    color: white; }

.styled-hr {
  width: 2rem;
  color: #E9204F;
  height: 0.13rem;
  background-color: #E9204F;
  margin: 0;
  border: none; }
  .styled-hr--large {
    width: 5rem;
    height: 0.2rem;
    background-color: #E9204F; }

.text-container {
  text-align: center;
  width: 12rem;
  padding: 1rem; }
  .text-container--left-align {
    text-align: left; }
  .text-container--large {
    width: 25rem;
    min-height: 10rem;
    line-height: 1.5rem; }
  .text-container--light {
    color: gray;
    background-color: #f1f1f1; }
    .text-container--light .text-container__title {
      color: #131313; }
  .text-container--transparent {
    color: gray;
    background-color: transparent; }
  .text-container--quote {
    width: 40rem;
    min-height: 10rem;
    line-height: 2rem;
    height: max-content; }
    .text-container--quote__subtitle, .text-container--quote__name {
      font-size: 1rem; }
    .text-container--quote__subtitle {
      color: #E9204F;
      margin-top: 0.6rem; }
    .text-container--quote__name {
      color: #131313; }
    .text-container--quote .text-container__text {
      font-size: 1.3rem;
      margin-top: 3rem;
      margin-bottom: 3rem; }
    .text-container--quote .text-container__title {
      font-size: 2.5rem; }
  .text-container--dark {
    color: white;
    background-color: #131313; }
  .text-container--with-top-hr__top-hr {
    color: #E9204F;
    width: 2rem;
    display: inline-block;
    margin-bottom: 1rem; }
  .text-container__title {
    font-size: 1.3rem;
    margin: 0; }
  .text-container__text {
    font-size: 1rem;
    margin-bottom: 0; }

.paragraph-container {
  max-width: 20rem;
  width: max-content;
  min-height: 15rem;
  line-height: 1.5rem; }
  .paragraph-container__title {
    color: black; }
  .paragraph-container__para {
    color: gray; }

.section-separator__wrapper {
  width: 100%; }

.section-separator__line {
  height: 3rem;
  border-left: solid #E9204F 0.15rem;
  margin: 0 auto;
  width: 0;
  background-color: #f1f1f1; }

.section-separator--half-black {
  background: linear-gradient(to bottom, #f1f1f1 50%, #131313 50%); }

.card {
  height: max-content;
  width: max-content;
  max-width: 15rem;
  min-width: 20rem;
  min-height: 22rem;
  background-color: #131313;
  transition: background-color 0.3s linear;
  color: white;
  padding: 1rem 2rem; }
  .card:hover {
    background-color: #E9204F; }
    .card:hover .fa-chart-pie {
      color: white; }
    .card:hover .card__hr {
      color: white; }
  .card .fa-chart-pie {
    color: white; }
  .card__icon-wrapper {
    margin-top: 1rem;
    margin-bottom: 4rem; }
  .card__hr {
    color: #E9204F;
    transition: color 0.3s linear; }
  .card__hr-container {
    width: 2rem; }
  .card__title {
    margin: 0;
    font-size: 1.5rem; }
  .card__para {
    line-height: 1.5rem; }

.card-with-img {
  position: relative;
  width: 27rem;
  height: 16rem;
  overflow: hidden; }
  .card-with-img--large {
    width: 48rem;
    height: 35rem; }
    .card-with-img--large .card-with-img__text {
      top: 75%; }
  .card-with-img--zoom:hover .card-with-img--zoom__img {
    transform: scale(1.2); }
  .card-with-img--zoom__img {
    transition: transform 0.6s cubic-bezier(0.17, 0.67, 0, 1.01); }
  .card-with-img--movable-text {
    text-align: center; }
    .card-with-img--movable-text:hover .card-with-img--movable-text__text {
      transform: translate(-50%, -3rem); }
    .card-with-img--movable-text__text {
      transition: transform 0.6s cubic-bezier(0.17, 0.67, 0, 1.01);
      left: 50%;
      transform: translate(-50%, 0); }
  .card-with-img--static-text__text {
    top: 60%;
    left: 5%; }
  .card-with-img--link__anchor {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 1; }
  .card-with-img--link__icon {
    position: absolute;
    bottom: 0;
    font-size: 2rem;
    color: transparent;
    transform: translateX(-50%);
    transition: color, bottom 0.6s, 0.3s linear; }
  .card-with-img--link:hover .card-with-img--link__icon {
    color: #f1f1f1;
    bottom: 1rem; }
  .card-with-img:hover .card-with-img__img {
    filter: grayscale(0); }
  .card-with-img__img {
    width: 100%;
    height: 100%;
    filter: grayscale(100%); }
  .card-with-img__text {
    position: absolute;
    color: #f1f1f1;
    top: 55%; }

.link-div {
  position: relative;
  width: 21rem;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.5rem;
  background-color: #e0e0e0; }
  .link-div:hover {
    background-color: #E9204F;
    color: white; }
    .link-div:hover .link-div__left-icon {
      font-size: 4rem; }
    .link-div:hover .link-div__title {
      margin-left: 5rem; }
  .link-div__left-icon {
    position: absolute;
    color: #e0e0e0;
    font-size: 2.5rem;
    transition: font-size 0.6s cubic-bezier(0.17, 0.67, 0, 1.01); }
  .link-div__title {
    flex: 1 1 auto;
    z-index: 1;
    width: 10rem;
    margin-left: 2rem;
    transition: margin-left 0.6s cubic-bezier(0.17, 0.67, 0, 1.01); }
  .link-div__right-icon {
    text-align: center;
    flex: 1 1 auto; }
  .link-div__anchor {
    position: absolute;
    width: 21rem;
    height: 6rem; }

.drop-down-list {
  list-style: none;
  line-height: 2rem;
  box-shadow: 0 0.1rem 0.5rem 0.02rem gray;
  padding: 0;
  width: max-content;
  max-width: 8rem; }
  .drop-down-list__item {
    margin: 0;
    padding: 0.3rem 1rem; }
    .drop-down-list__item:hover {
      background-color: #131313; }

.nav-item {
  height: max-content;
  padding: 1rem;
  padding-bottom: 0;
  width: max-content;
  background-color: white;
  color: black;
  display: inline-block;
  cursor: pointer;
  width: 100%;
  height: max-content; }
  .nav-item::selection {
    background: none; }
  .nav-item--dark {
    color: white;
    background-color: black; }
  .nav-item--light {
    color: #131313;
    background-color: #f1f1f1; }
  .nav-item--drop-down {
    position: relative;
    z-index: 2; }
    .nav-item--drop-down:hover .nav-item--drop-down__list-container {
      display: block; }
    .nav-item--drop-down__list-container {
      position: absolute;
      display: none;
      background-color: black;
      width: max-content; }
    .nav-item--drop-down__list {
      margin-top: 1rem; }
  .nav-item:hover .nav-item__hr {
    width: 1rem;
    border-width: 0.1rem;
    color: #E9204F; }
  .nav-item__text {
    margin-bottom: 0.3rem; }
  .nav-item__hr {
    width: 0rem;
    padding: 0;
    border-width: 0.1rem;
    color: #f1f1f1;
    transition: width, color 0.3s, 0.2s linear;
    margin-left: 0;
    margin-bottom: 0;
    color: transparent; }

.shrinkable-card {
  position: relative;
  background-color: transparent;
  width: 27rem;
  height: 27rem;
  padding: 0;
  overflow: hidden; }
  .shrinkable-card__background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    background-color: transparent;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier(0.17, 0.67, 0, 1.01);
    overflow: hidden; }
  .shrinkable-card__border {
    width: 0;
    height: 0;
    top: 2rem;
    left: 2rem;
    background-color: transparent;
    position: absolute;
    z-index: 3; }
    .shrinkable-card__border--right {
      transition: height 0.5s ease; }
    .shrinkable-card__border--bottom {
      transition: width 0.5s ease; }
  .shrinkable-card:hover .shrinkable-card__background {
    transform-origin: center;
    transform: scale(0.95); }
  .shrinkable-card:hover .shrinkable-card__text {
    margin-left: 0;
    color: white; }
  .shrinkable-card:hover .shrinkable-card__img {
    transform: scale(1.2);
    filter: grayscale(0);
    filter: brightness(50%); }
  .shrinkable-card:hover .shrinkable-card__border {
    height: 80%;
    width: 80%; }
  .shrinkable-card:hover .shrinkable-card__border--right {
    border-right: 0.1rem solid white; }
  .shrinkable-card:hover .shrinkable-card__border--bottom {
    border-bottom: 0.1rem solid white; }
  .shrinkable-card__text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: -1rem;
    color: transparent;
    transition: margin-left, color 0.6s, 0.6s cubic-bezier(0.17, 0.67, 0, 1.01);
    z-index: 2; }
  .shrinkable-card__img {
    z-index: 0;
    width: 100%;
    height: 100%;
    transition: transform, filter 0.6s, 0.6s cubic-bezier(0.17, 0.67, 0, 1.01);
    filter: grayscale(100%);
    filter: brightness(100%); }

.movable-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 3rem;
  min-height: 3rem;
  width: max-content;
  color: white;
  background-color: transparent;
  cursor: pointer;
  transition: transform 0.3s cubic-bezier(0.17, 0.67, 0, 1.01);
  text-align: center;
  border: solid 0.15rem #E9204F;
  border-radius: 50%; }
  .movable-icon::selection {
    background: none; }
  .movable-icon:hover {
    transform: translateY(-0.3rem); }
  .movable-icon:hover .movable-icon__icon {
    color: #E9204F; }
  .movable-icon__icon {
    font-size: 1.5rem; }

.contact-info {
  width: max-content;
  min-width: 2rem;
  color: white;
  background-color: transparent;
  cursor: pointer;
  padding: 1rem;
  font-size: 1.4rem;
  text-align: center; }
  .contact-info::selection {
    background: none; }
  .contact-info:hover {
    color: #E9204F; }
    .contact-info:hover .contact-info__first-line {
      transition: color 0.6s cubic-bezier(0.17, 0.67, 0, 1.01); }
    .contact-info:hover .contact-info__second-line {
      transition: color 0.6s cubic-bezier(0.17, 0.67, 0, 1.01);
      transition-delay: 0.1s; }

.footer-item {
  width: max-content;
  height: max-content;
  min-height: 2rem;
  min-width: 1rem;
  padding: 0.6rem 0.8rem;
  color: white;
  background-color: black;
  cursor: pointer; }
  .footer-item::selection {
    background: none; }
  .footer-item:hover {
    color: #E9204F; }
    .footer-item:hover .footer-item__hr {
      width: 60%;
      border-width: 0.1rem;
      color: #E9204F; }
  .footer-item__hr {
    width: 0;
    padding: 0;
    color: #f1f1f1;
    transition: width, color 0.3s, 0.2s linear;
    margin-left: 0;
    margin-bottom: 0;
    margin-top: 0.1rem;
    border-width: 0; }

.nav-bar {
  display: flex;
  width: max-content;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  margin-right: 3rem; }

.section-title__title {
  font-size: 3rem;
  margin: 1rem 0 0 0; }

.section-title__subtitle {
  font-size: 1.25rem;
  color: #E9204F;
  margin: 0; }

.scalable-icon {
  transition: transform 0.6s cubic-bezier(0.17, 0.67, 0, 1.01); }
  .scalable-icon:hover {
    transform: scale(1.3);
    transform: translateY(-0.5rem); }

.rotating-icon {
  transition: transform 0.4s linear; }
  .rotating-icon:hover {
    transform: rotate(360deg); }

.main-section {
  background-image: url("../images/background.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  background-color: black;
  background-position: right;
  height: max-content;
  align-items: left;
  text-align: left;
  padding: 3rem 3rem 0 3rem;
  overflow: hidden; }
  .main-section__hr {
    width: 5rem;
    height: 0.05rem;
    color: #E9204F;
    background-color: #E9204F;
    margin: 0; }
  .main-section__title {
    color: white;
    background-color: transparent;
    width: max-content;
    height: max-content;
    font-size: 4.5rem;
    max-width: 60%;
    margin-top: 3rem; }
  .main-section__btn {
    margin-top: 2rem;
    min-width: 10rem; }
  .main-section__cards-wrapper {
    width: 100%;
    margin-top: 10rem;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: space-between; }

.services {
  color: black;
  background-color: #f1f1f1;
  padding: 3rem; }
  .services__btns-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20rem;
    justify-content: space-between;
    margin: 3rem 0;
    overflow: hidden; }
  .services__row {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between; }

.works-section {
  padding-bottom: 3rem; }
  .works-section__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
  .works-section__title {
    padding: 3rem; }
  .works-section__images {
    width: 100%; }
  .works-section__btn {
    height: 2rem; }

.about-section {
  padding: 3rem; }
  .about-section__row {
    display: flex;
    justify-content: space-between; }
  .about-section__images {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between; }
  .about-section__paragraph {
    max-width: 50rem;
    color: gray; }
  .about-section__right-images {
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
  .about-section__text {
    margin-top: 3rem; }

.clients-section {
  padding: 3rem; }
  .clients-section__logo {
    filter: opacity(50%); }
    .clients-section__logo:hover {
      filter: opacity(100%); }
  .clients-section__row {
    display: flex;
    justify-content: space-between; }
  .clients-section__img {
    position: relative;
    width: 29rem;
    height: 39rem;
    background-image: url("../images/clients_background.jpg");
    background-size: cover; }
    .clients-section__img::after {
      content: "";
      height: 5rem;
      width: 5rem;
      background-color: #E9204F;
      position: absolute;
      right: -1rem;
      bottom: -1rem;
      z-index: -1; }
  .clients-section__hr {
    margin-top: 5rem;
    width: 90%;
    color: gainsboro; }
  .clients-section__logos {
    margin: 3rem; }

.news-section {
  padding-bottom: 5rem; }
  .news-section__title {
    margin-top: 5rem;
    padding-bottom: 3rem;
    text-align: center; }
  .news-section__images {
    display: flex;
    justify-content: space-between; }
  .news-section__img {
    width: 27rem;
    height: 25rem; }

.contact-section__row {
  display: flex;
  justify-content: space-between;
  padding: 3rem;
  color: white;
  background-color: #131313;
  align-items: center; }
  .contact-section__row--second {
    background-color: #0d0d0d;
    padding: 3rem 10rem;
    height: 3rem; }

.contact-section__title {
  font-size: 3rem; }

.contact-section__sm-icons {
  height: max-content;
  width: max-content;
  display: flex;
  justify-content: space-between; }
  .contact-section__sm-icons:last-child {
    margin-right: 0; }

.contact-section__icon {
  margin-right: 0.2rem; }

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: black; }
  .header__header-logo {
    font-size: 2rem;
    margin-left: 3rem; }
  .header__nav-bar {
    margin-top: 1rem; }

.footer {
  display: flex;
  justify-content: space-between;
  padding: 1rem 3rem;
  background-color: black;
  height: max-content; }
  .footer__copyright {
    font-size: 1rem;
    color: #e0e0e0; }
  .footer__links {
    display: flex;
    justify-content: space-between;
    margin-top: 0.6rem; }
