// Colors
$main-color: #E9204F;
$black: rgb(19, 19, 19);
$darker-black: rgb(13, 13, 13);
$main-background-color: black;
$black-semi-transparent: rgba(36, 35, 35, 0.5);
$white: rgb(241, 241, 241);
$light-background-color: $white;
$blue: rgb(84, 129, 196);
$main-font-color: white;
$gray: rgb(224, 224, 224);

// Dimensions
$card-width: 27rem;
$card-height: 16rem;
$card-min-height: 22rem;
$card-min-width: 20rem;
$card-max-width: 15rem;
$shrinkable-card-width: 27rem;
$shrinkable-card-height: 27rem;
$card-width-large: 48rem;
$card-height-large: 35rem;
$icon-font-size: 1.5rem;

// Animations
$animation-timing-func: cubic-bezier(0.17, 0.67, 0, 1.01);
