// Colors
$main-color: #E9204F;
$black: rgb(36, 35, 35);
$main-background-color: black;
$black-semi-transparent: rgba(36, 35, 35, 0.5);
$white: rgb(241, 241, 241);
$blue: rgb(84, 129, 196);
$main-font-color: white;
$gray: gray;

// Dimensions
$card-width: 25rem;
$card-height: 18rem;
$shrinkable-card-width: 30rem;
$shrinkable-card-height: 30rem;
$card-width-large: 48rem;
$card-height-large: 38rem;
$icon-font-size: 1.5rem;

// Animations
$animation-timing-func: cubic-bezier(0.17, 0.67, 0, 1.01);
