.nav-bar {

    margin: 0;
    padding: 0;
    
    &__phone-icon {
        display: none;
        font-size: 2rem;
        margin: 1rem 2rem;
        @include clickable-div;
    }

    &__items-container {
        display: flex;
        width: max-content;
        justify-content: space-between;
        align-items: center;
        margin: 0;
        margin-right: 3rem;
    }

    @include media(tablet-portrait) {

        &__phone-icon {
            display: block;
        }

        &__items-container {
            display: none;
        }
    }
}