.large-card {
    width: $card-width-large;
    height: $card-width-large;
}

.small-card {
    width: $card-width;
    height: $card-height;
}

.medium-card {
    width: $card-width;
    height: $card-height;
}