.about-section {

    padding: 3rem;

    &__row {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__images {
        margin-top: 3rem;
        display: flex;
        justify-content: space-between;
    }

    &__paragraph {
        max-width: 50rem;
        color: gray;
        margin-left: 2rem;
    }

    &__right-images {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__text {
        margin-top: 3rem;
    }
    
    @include media(tablet-portrait) {
        &__card-with-img {
            max-width: $card-width;
            height: max-content;
            margin-bottom: 1rem;
        }
    }
}