.contact-section {

    &__row {
        display: flex;
        justify-content: space-between;
        padding: 3rem;
        @include color-bg-color($main-font-color, $black);
        align-items: center;

        &--second {
            
            background-color: $darker-black;
            padding: 3rem 10rem;
            height: 3rem;
        }
    }

    &__title {
        font-size: 3rem;
    }

    &__sm-icons {
        height: max-content;
        width: max-content;
        display: flex;
        justify-content: space-between;

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        margin-right: 0.2rem;
    }
}