.news-section {
    padding-bottom: 5rem;

    &__title {
        margin-top: 5rem;
        padding-bottom: 3rem;
        text-align: center;
    }

    &__images {
        display: flex;
        justify-content: space-between;
    }

    &__img {
        width: 27rem;
        height: 25rem;
    }
}